{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add_habit_styles.css">
    <title>{% block title %}Add Habit{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
{% block content %}

<div class="habit-form-container">
    <h1>Add a New Habit</h1>

    <!-- success_page.html -->
    {% if selected_month %}
    <p> Month: {{ selected_month }}</p>
    {% else %}
    <p>No month selected</p>
    {% endif %}

    <form method="post" action="{% url 'add-habits' %}">
        {% csrf_token %}

        <label for="habit-name-1">Add Habit:</label>
        {{ form.name }}
        <button type="submit">Add Habit</button>
        <br>
        <a href="{%url 'habit-list'%}"><button type="button">Proceed</button></a>
    </form>
</div>
{% endblock %}
</body>
</html>
